<div class="col-md-12 h-600px bg-ele-night">
    <h4 class="text-white text-center py-5">Khách hàng bình chọn</h4>
    <div class="d-flex justify-content-around py-4">
        <img src="../../static/image/rocks.jpg" class="h-w-200px border-3px-white-solid">
        <img src="../../static/image/woods.jpg" class="h-w-200px border-3px-white-solid">
        <img src="../../static/image/steel.jpg" class="h-w-200px border-3px-white-solid">
        <img src="../../static/image/hand.jpg" class="h-w-200px border-3px-white-solid">
    </div>
    <div class="d-flex justify-content-around py-5">
        <img src="../../static/image/slide5.jpg" class="h-w-200px border-3px-white-solid">
        <img src="../../static/image/slide4.jpg" class="h-w-200px border-3px-white-solid">
        <img src="../../static/image/slide3.jpg" class="h-w-200px border-3px-white-solid">
        <img src="../../static/image/lightning.jpg" class="h-w-200px border-3px-white-solid">
    </div>
</div>