<div class="h-550px col-md-12">
    <h3 class="text-center py-5 font-weight-bold">Các gói dịch vụ</h3>
    <div class="col-md-11 d-flex container justify-content-around">
        <div class="col-md-3 h-360px border-1px-l-gray-solid px-0">
            <div class="h-50px borer-1px-b-l-gray-solid d-flex align-items-center px-2 bg-light-gray">
               <h4 class="text-white">Gói cơ bản</h4>
            </div>
            <div class="px-2 py-1 h-256px">
                <p class="font-weight-bold">Dẫn bạn về ra mắt</p>
                <p class="font-weight-bold">Ăn cơm cùng gia đình</p>
                <p> Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào</p>
                <p>Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
            </div>
            <div class="borer-1px-t-l-gray-solid h-50px d-flex justify-content-end align-items-center">
                <p class="btn btn-dark text-white d-flex align-items-center mb-0 mr-2">
                    <i class="fas fa-heart text-white mr-3"></i>
                    Tìm hiểu thêm
                </p>
            </div>
        </div>
        <div class="col-md-3 h-360px border-1px-l-gray-solid px-0">
            <div class="h-50px borer-1px-b-l-gray-solid d-flex align-items-center px-2 bg-secondary">
                <h4 class="text-white">Gói tiêu chuẩn</h4>
            </div>
            <div class="px-2 py-1 h-256px">
                <p class="font-weight-bold">Dẫn bạn về ra mắt</p>
                <p class="font-weight-bold">Ăn cơm cùng gia đình</p>
                <p class="font-weight-bold"> Cho phếp nắm tay thể hiện quan tâm</p>
                <p>Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
            </div>
            <div class="borer-1px-t-l-gray-solid h-50px d-flex justify-content-end align-items-center">
                <p class="btn btn-dark text-white d-flex align-items-center mb-0 mr-2">
                    <i class="fas fa-heart text-white mr-3"></i>
                    Tìm hiểu thêm
                </p>
            </div>
        </div>
        <div class="col-md-3 h-360px border-1px-l-gray-solid px-0">
            <div class="h-50px borer-1px-b-l-gray-solid d-flex align-items-center px-2 bg-dark">
                <h4 class="text-white">Gói cao cấp</h4>
            </div>
            <div class="px-2 py-1 h-256px">
                <p class="font-weight-bold">Dẫn bạn về ra mắt</p>
                <p class="font-weight-bold">Ăn cơm cùng gia đình</p>
                <p class="font-weight-bold"> Cho phếp nắm tay thể hiện quan tâm</p>
                <p class="font-weight-bold">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
                <p class="font-weight-bold text-primary">Và nhiều ưu đãi bất ngờ khác</p>
            </div>
            <div class="borer-1px-t-l-gray-solid h-50px d-flex justify-content-end align-items-center">
                <p class="btn btn-dark text-white d-flex align-items-center mb-0 mr-2">
                    <i class="fas fa-heart text-white mr-3"></i>
                    Tìm hiểu thêm
                </p>
            </div>
        </div>



    </div>
</div>