<div class="col-md-12 h-400px py-4 bg-white">
    <h4 class="text-center">Chào mừng các bạn đã đến với Mùa Đông Không Lạnh</h4>
    <p class=" py-4 font-weight-bold font-italic text-center font-lobster">" Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn "</p>
    <div class=" d-flex justify-content-around py-3">
        <img src="../../static/image/female.jpg" height="200px">        
        <img src="../../static/image/male.jpg" height="200px"> 
    </div>
    <!-- <div class="col-md-12 d-flex">
        <div class="col-md-6 d-flex justify-content-around">
            <h4 class="ml-150px text-white">Bạn là nam</h4>
        </div>
        <div class="col-md-6 d-flex justify-content-end ">
            <h4>Bạn là nữ</h4>
        </div>
    </div> -->
</div>