<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>K </title>
</head>
<body>
    <h2>About me </h2>
    <br>
    <div>
        <h3>{{ post.title }}</h3>
        <p>{{ post.school }}</p>
        <p>{{ post.age }}</p>
        <p>{{ post.trich_dan }}</p>
        <p>{{ post.fav_film }}</p>
        <a href="https://www.facebook.com/nvkhanhh" target="#">Facebook!</a>
    </div>
</body>
</html>