<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
    {% include"meta-data.html" %}
    
</head>
<body>
    {% include "detail/navigation.html" %}

    <!-- <a href="{{ url_for('index') }}">Về trang chủ</a>
    <br><br>
    <a href="{{ url_for('logOut') }}">Đăng xuất</a>
    

    <div>
        <img src = "{{service_detail.image}}" alt = "">
        <p>Tên: {{ service_detail.name }}</p>
        <p>Năm Sinh: {{ service_detail.yob }}</p>
        <p>Chiều cao: {{ service_detail.height}} cm </p>
        <p>Địa chỉ: {{ service_detail.address }}</p>
        <p>Tính cách: {{ service_detail.description }} </p>
        {% if service_detail.gender == 0 %}
            <p>Số đo 3 vòng:
                    {{service_detail.measurements[0]}} - 
                    {{service_detail.measurements[1]}} - 
                    {{service_detail.measurements[2]}}
            </p>
        {% else %}
            <p> </p>
        {% endif %}
    </div>

    <a href="{{ url_for('order') }}">Yêu cầu dịch vụ</a> -->
</body>
</html>