<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% include "homepage/navigation.html" %}

    {% include "homepage/carousel.html" %}

    {% include "homepage/main1.html" %}

    {% include "homepage/main2.html" %}

    {% include "homepage/main3.html" %}

    {% include "homepage/footer.html" %}



    <!-- <a href="{{ url_for('admin') }}">Admin </a><br><br>
    <a href="{{ url_for('orderPage') }}">Order page</a><br><br>
    <a href="{{ url_for('logIn') }}">Đăng nhập</a>
  
    
    <hr>
    <div>
        <a href="{{ url_for('search',g=0) }}">Click vào em đi</a>
        <br>
        <a href="{{ url_for('search',g=1) }}">Click vào anh đi</a>

    </div>
    <hr>
    <div>
        <a href="{{ url_for('customer_full') }}">Customer Full</a>
    </div>
    <hr>
    <div>
        <a href="{{ url_for('customer',g=0) }}">Female Customer</a>
        <br>
        <a href="{{ url_for('customer',g=1) }}">Male Customer</a>
    </div>
    <hr>
    <div>
        <a href="{{ url_for('customer_contacted',g=0) }}">Female Customer Contacted: Not Yet</a>
        <br>
        <a href="{{ url_for('customer_contacted',g=1) }}">Male Customer Contacted: Not Yet</a>
    </div> -->
    

</body>
</html>