<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Sign In</h1>
    <h1>Đăng ký tài khoản</h1>
    <form method="post">
        <label>Tên đầy đủ: </label>
        <br>
        <input type="text" name='fullname' value="Ngô Văn Khánh ">
        <br>

        <label>Email: </label>
        <br>
        <input type="text" name='email' value="abcxyz@gmail.com">
        <br>

        <label>Tên đăng nhập: </label>
        <br>
        <input type="text" name='username'>
        <br>

        <label>Mật Khẩu </label>
        <br>
        <input type="password" name='password'>
        <br>

        <input type="submit" value="Đăng Ký">

    </form>
    <br><br>
    <a href="{{ url_for('logIn') }}">Đăng nhập</a>
</body>
</html>